<div class="about-us">
    <p class="abt-des">SnapScan is a mobile application specially crafted to let the user have a count of their expanses. 
    It provides the user with security and an impressive UI/UX. This app is built with Ruby On Rails.</p>
</div>
<footer>
        <p>&copy; 2023 SnapScan</p>
        <p>Crafted by <a href="https://github.com/IsmailChangezi">Ismail Changezi</a></p>
</footer>