<section class="bold main-text">SnapScan</section>

<section class="login-btns container">
    <%= button_to "LOG IN" , new_user_session_path, class: "login-btn" %>
    <br/>
    <%= link_to "SIGN UP" , new_user_registration_path, class: "btn btn-primary" %>
</section>